{% extends "basic.html" %}

{% block title %}resume{% endblock title %}



{% block body %}
{% load static %}
<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

      <h1><a href="index.html">Resume</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>Have a look and check my <span>  Resume  </span>      </h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Aman Sheikh</h4>
            <p><em>
                
                Aspiring Python Developer | Web Developer | Video Editor | Graphic Designer

                As a dedicated student with a genuine passion for technology and creativity, I bring a versatile skill set that includes Python development, web development, video editing, Photoshop, and graphic designing. My enthusiasm for learning and applying new concepts drives me to continuously improve and innovate in every project I undertake.
                
                </em></p>
            <p>
            <ul>
              <li>Pune , India</li>
              <li>(+91) 9172256546</li>
              <li>amanwork03@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Internet</h4>
            <h5>Alltime</h5>
            <p><em></em></p>
            <p>Taught me that an Institute couldn't  </p>
          </div>
          <div class="resume-item">
            <h4>Undergrad : Electronics  &amp; and telecommunication </h4>
            <h5>2023 - 2026</h5>
            <p><em> Pune University, Pune</em></p>
            <p>Pursuing a Bachelor's degree in Electronics and Telecommunication Engineering has equipped me with a strong foundation in electronic circuits, communication systems, and signal processing. </p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Summary</h3>
          <div class="resume-item">
            <h4>Career objective</h4>

            <p><em></em></p>
            <p>
            <ul>
              <li>As an enthusiastic and driven student with a passion for technology and design, I am eager to explore and excel in a dynamic and innovative environment. I am currently honing my skills in Python development, web development, video editing, Design. My undergrad in ENTC gives me the advantage of being
                able to understand the technology in depth the software as well as the Electronics part. While I am still in the process of discovering the exact path I want to pursue, my commitment to continuous learning and adaptability drives me to seek opportunities that challenge my creativity and technical abilities. I aspire to contribute to forward-thinking projects 
                that blend technology and design, ultimately making a meaningful impact in the industry.</li>
              
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Skills</h4>
            
            
            <p>
            <ul>
              <li>Python</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JS</li>
              <li>DJANGO</li>
              <li>VIDEO EDITING</li>
              <li>PHOTOSHOP</li>
              <li>DESIGNING</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->


{% endblock body %}